.TussenTitels{
    font-size: 7vw;
    margin-top: 7.5vw;
    text-align: center;
}

.OnderTitels{
    font-size: 5vw;
    text-align: center;
}

.Text{
    font-size: 4vw;
}

.Container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #F5F5F5;
    background-color:#0362c7;
    margin-bottom: 4vw;
    padding: 2.5vw;
    border-radius: 4vw;
    width: 65%;
    margin-left: 15%;
}

.Free{
    height: 13vw;
    width: auto;
}

.Empty{
    height: 13vw;
    width: auto;
}
