.TussenTitels{
    font-size: 5vw;
    margin-top: 7.5vw;
}

.SearchButton{
    padding: 1.5vw;
    width: 75%;
    margin-left: 12vw;
    text-decoration: none;
    border: none;
    border-radius: 2vw;
    font-size: 3.5vw;
    background-color: #b309a575;
    color: #F5F5F5;
}

.SearchButton:hover{
    background-color: #B309A6;
    color: #F5F5F5;
}

.SwiperSlide {
    text-align: center;
}

.TitelSwiper{
    font-size: 4.5vw;
}

.InfoSwiper{
    font-size: 3vw;
}

.PrijsSwiper {
    font-size: 4vw;
}

.Onderschrift{
    font-size: 2.3vw;
    color: #4d4d4d;
    margin-left: 3.5vw;
}

.HelpContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Telefoon{
    height: 10vw;
    width: auto;
}