.Header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFC107;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.Logo{
    height: 13vw;
    width: auto;
}

.Navigation{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFC107;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.ButonLeft{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.ButonRight{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.ButonLeft:focus{
    color: #916400;
    text-decoration: none;
}

.ButonRight:focus{
    color: #916400;
    text-decoration: none;
}