.TussenTitels{
    font-size: 5vw;
    margin-top: 7.5vw;
}

.OnderTitels{
    font-size: 3.5vw;
}

.Text{
    font-size: 2.5vw;
}

.SearchBalk{
    width: 88%;
    margin-left: 4vw;
    margin-bottom: 1.5vw;
    padding: 1.5vw;
    margin-bottom: 5vw;
}

.StationList{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 2.5vw;
    font-size: 3.5vw;
}

.StationList .Info {
    display: flex;
    flex-direction: column;
}

.Beschikbaarheid{
    height: 6vw;
    width: auto;
    padding-right: 2vw;
}